* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

body {
    background-color: #111;
}

section {
    margin-top: 50px;
}

a {
    text-decoration: none;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1%;
}

header .logo a {
    font-size: 25px;
    color: #4ff35db7;
}

header .logo a span {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
    list-style-type: none;
}

.menu li a {
    color: #fff;
    font-size: 16px;
}

.btn_profil {
    color: #4ff35db7;
    font-size: 16px;
    border: 2px solid #4ff35db7;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}

.btn_profil:hover {
    background-color: #4ff35db7;
    color: #fff;
}


/*--- ACCEUILLE css*/

#acceuil {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #333), url("image/fond.jpg");
    background-position: center;
    background-size: cover;
}

#acceuil_de {
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 67%;
}

#acceuil_de h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.3px;
    color: transparent;
}

#acceuil_de h4 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: capitalize;
}

#acceuil_de p {
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

.btn_voir {
    margin-bottom: 20px;
}

#login {
    font-size: 25px;
    width: 30%;
    height: 400px;
    border: 5px dashed #790000;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
}

#login h1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.3px;
    color: transparent;
}

#login div {
    color: #fff;
}

input {
    background-color: transparent;
    color: #fff;
}

#log_a {
    margin-top: 25px;
}

#log_a a {
    font-size: 16px;
    color: #222;
}